card.css

.card {
  display: flex;
  align-items: center;
  background-color: #284b63;
  border-radius: 4px;
  margin: 50px auto;
  justify-content: space-between;
 padding: 20px;

}
.card img {
  width: 150px;
  border-radius: 4px;
}
.card h3 {
  flex-grow: 1;
  color: maroon;
  padding-left: 20px;
}


.cards {
  display: flex;
 flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
 flex-grow: 1;
 margin: 10px;
}